<h1>tweets page</h1>
<h2>Welcome, <%= @current_user.username %>!</h2>

<% @current_user.tweets.each do |tweet| %>
  <p><%= tweet.content %></p>

  <a href="/tweets/<%= tweet.id %>">Delete Tweet</a>
  <a href="/tweets/<%= tweet.id %>/edit">Edit Tweet</a>

<% end %>

<%# Create a fake delete button. it shows up when there is no tweet but it won't submit %>
<% if !@tweet %>
  <button type="button" name="Delete Tweet">Delete Tweet</button>
<% end %>

<a href="/tweets/new">Create a new tweet</a>


<h3>What people tweet!?</h3>
<% @tweets.each do |tweet| %>
  <p><%= tweet.content %></p>
<% end %>
